PYTHONPATH=${workspaceFolder}:${workspaceFolder}/src:${workspaceFolder}/test
INKSCAPE_EXE=C:/Program Files/Inkscape/bin/inkscape.exe
# Set this to your local Inkscape extensions directory.
# Example on Windows:
# INKSCAPE_EXTENSIONS_DIR=C:/Users/<your-user>/.config/inkscape/extensions
# Example on Linux:
# INKSCAPE_EXTENSIONS_DIR=${HOME}/.config/inkscape/extensions
