PYTHONPATH=${workspaceFolder}:${workspaceFolder}/src:${workspaceFolder}/test

# Add the path of your Inkscape executable here, on Windows, right click the shortcut to Inkscape, 
# select Properties, and copy the path from the Target field. 
# On Linux or Mac, run `which inkscape` in a terminal to get the path.
#
# Windows example: INKSCAPE_EXE=C:/Program Files/Inkscape/bin/inkscape.exe
# Linux example: INKSCAPE_EXE=/usr/bin/inkscape
INKSCAPE_EXE=C:/Program Files/Inkscape/bin/inkscape.exe


# Add your local Inkscape extensions directory here, you can find the path in Inkscape by going to
# Settings --> System --> User extensions directory
INKSCAPE_EXTENSIONS_DIR=C:/Users/<your-user>/AppData/Roaming/inkscape/extensions


# Path to the git executable used for source code version control.
# On Windows run 'where git' in a Command Prompt window to get the path.
# On Linux or Mac, run `which git` in a terminal to get the path.
#
# Windows example: GIT_EXE=C:/Program Files/Git/cmd/git.exe
# Linux example: GIT_EXE=/usr/bin/git
GIT_EXE=C:/Program Files/Git/cmd/git.exe

# Path to the GnuPG executable used for release signing.
# On Windows run 'where gpg' in a Command Prompt window to get the path.
# On Linux or Mac, run `which gpg` in a terminal to get the path.
#
# Windows example: GPG_EXE=C:/Program Files/GnuPG/bin/gpg.exe
# Linux example: GPG_EXE=/usr/bin/gpg
GPG_EXE=C:/Program Files/GnuPG/bin/gpg.exe

